# Compiled class files
*.class

# Log files
*.log

# Project output directory
/out/
/target/

# IntelliJ IDEA configuration
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionary.xml
.idea/shelf/

# Crash logs
hs_err_pid*
replay_pid*
